# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'

# Watson conversation
CONVERSATION_USERNAME="25b191c2-9c6b-405a-acef-efc5707b1bfb",
CONVERSATION_PASSWORD="1YcgyzYxF1YC"
WORKSPACE_ID= 887c9c1d-5207-4212-9d7e-68ba7af10891

